fieldset {
    background-color: #eeeeee;
    text-align: center;
    display: flex;
    justify-content: center;
}

input {
    margin: px;
}

main {
     
    
    padding: -400px;
    background-color: white;
    display: flex;
    justify-content: center;
    
}




